{% extends 'base.html.twig' %}

{% block title %}Usuario{% endblock %}

{% block body %}
    <h1>Usuario</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Uuid</th>
                <td>{{ usuario.uuid }}</td>
            </tr>
            <tr>
                <th>Nickname</th>
                <td>{{ usuario.nickname }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ usuario.roles ? usuario.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ usuario.nombre }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ usuario.direccion }}</td>
            </tr>
            <tr>
                <th>Telefono</th>
                <td>{{ usuario.telefono }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ usuario.email }}</td>
            </tr>
            <tr>
                <th>FechaIngreso</th>
                <td>{{ usuario.fechaIngreso ? usuario.fechaIngreso|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Password</th>
                <td>{{ usuario.password }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ usuario.estado }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_usuario_index') }}">back to list</a>

    <a href="{{ path('app_usuario_edit', {'nickname': usuario.nickname}) }}">edit</a>

    {{ include('usuario/_delete_form.html.twig') }}
{% endblock %}
